Exploratory Data Analysis/Project2/exdata-data-NEI_data.zip
Exploratory Data Analysis/Project2/.RData
Exploratory Data Analysis/Project2/.Rhistory
Exploratory Data Analysis/Project2/ReadData.R
Reproducible Research/RepData_PeerAssessment2/Analysis_cache/html/unnamed-chunk-1_d3670f110a9952bad36cf1bec3516cc2.RData
Reproducible Research/RepData_PeerAssessment2/Analysis_cache/html/unnamed-chunk-1_d3670f110a9952bad36cf1bec3516cc2.rdx
Reproducible Research/RepData_PeerAssessment2/Analysis_cache/html/unnamed-chunk-1_d3670f110a9952bad36cf1bec3516cc2.rdb
Reproducible Research/RepData_PeerAssessment2/Analysis_cache/html/__packages
Reproducible Research/RepData_PeerAssessment2/.RData
Reproducible Research/RepData_PeerAssessment2/.Rhistory
.Rproj.user
*.Rhistory
*.Rhistory
*.RData
